<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>窗帘遥控器</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../../js/common/flexible.js"></script>
		<link href="../../../css/lib/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="../../../css/lib/mui.picker.css" />
		<link rel="stylesheet" href="../../../css/lib/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../css/app/app.poppicker.css" />-->

		<link rel="stylesheet" href="../../../css/app/app.css" />
		<link rel="stylesheet" href="../../../css/app/devices.css" />

		<style type="text/css">
			html,
			body,
			.mui-content {
				background-color: #F4F8FB;
			}
			
			.img-wrap {
				height: 0;
				padding-bottom: 7.333333rem;
				/*background-image: url(../../../image/smart/devices/curtain/btn_Acoustoopticalarm@3x.png);*/
				background-repeat: no-repeat;
				background-size: 50%;
				background-position: bottom;
			}
			
			.menu-warp {
				display: flex;
				display: -webkit-flex;
				padding: 1.5rem 1.433333rem 0.7rem 1.433333rem;
				justify-content: space-between;
			}
			
			.menu-warp>div {
				/*border: 1px solid #ccc;*/
				flex: 1;
				height: 100px;
				/*width: rem;*/
				text-align: center;
			}
			
			.menu-warp>div>img {
				width: 50%;
			}
			
			.mui-table-view-cell:after {
				background-color: #E5E6E7 !important;
			}
		</style>
	</head>

	<body>
		<div id="warpper">

			<header class="mui-bar mui-bar-nav mui-bar-transparent app-header" data-top='0' data-offset='150' data-duration='16'>
				<a class="mui-action-back app-icon-back mui-pull-left"></a>
				<h1 class="mui-title" v-text="devInfo.accessory.name"></h1>
			</header>

			<div class="mui-content noImmersed">
				<div @tap="toggleSwitch()" class="img-wrap" :style="'background-image: url(' + (state? '../../../image/smart/devices/curtain/btn_Acoustoopticalarm@3x.png' : '../../../image/smart/devices/curtain/btn_Acoustoopticalarm1@3x.png') + ')'">
				</div>
				<div class="menu-warp app-font-size-24 app-color-dark">
					<div>
						<img src="../../../image/smart/devices/curtain/btn_Openthecurtains@3x.png" @tap="onOpenTap(1)" />
						<div>打开窗帘</div>
					</div>

					<div>
						<img v-if="newStop" src="../../../image/smart/devices/curtain/btn_suspend@3x.png" @tap="onOpenTap(4)" />
						<img v-if="!newStop" src="../../../image/smart/devices/curtain/btn_start@3x.png" @tap="onOpenTap(3)" />
						<div>暂停 / 继续</div>
					</div>
					<div>
						<img src="../../../image/smart/devices/curtain/btn_Closecurtain@3x.png" @tap="onOpenTap(2)" />
						<div>关闭窗帘</div>
					</div>
				</div>

				<ul class="mui-table-view app-font-size-28">
					<li class="mui-table-view-cell">
						<a class="">
							<span>配件ID</span>
							<span class="mui-badge" v-text="devInfo.accessory.id"></span>
						</a>
					</li>
					<li class="mui-table-view-cell" @tap="onNameTap()">
						<a class="mui-navigate-right">
							<span>配件名称</span>
							<span class="mui-badge" v-text="devInfo.accessory.name"></span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="">
							<span>绑定主机</span>
							<span class="mui-badge" v-text="devInfo.devName || devInfo.accessory.devid"></span></a></li><li class="mui-table-view-cell" v-if="devInfo.accessory.channelName"><a class=""> 							<span>绑定通道</span><span class="mui-badge" v-text="devInfo.accessory.channelName || ''"></span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a class="battery_status">
							<span>通讯状态</span>
							<span class="mui-badge battery_status" v-text="state.lost?'失联':(state.valid?'正常':'正常')"></span>
						</a>
					</li>
					<li class="mui-table-view-cell">
						<a>
							<span>启用此配件</span>
							<span class="mui-badge">
								<div class="mui-switch mui-switch-mini app-switch-main" :class="{'mui-active ': devInfo.accessory.enable}" ref="switch1">
									<div class="mui-switch-handle"></div>
								</div>
							</span>
						</a>
					</li>
				</ul>

			</div>

			<!--<footer class="app-font-size-28">
				<div class="app-color-main-dark">删除设备</div>
				<div>解绑主机</div>
			</footer>-->
			<dev-footer :accessory="devInfo.accessory" :devtype="devInfo.devType" @del="onDelDevice" @unbind="onDevUnBind">

			</dev-footer>
		</div>
		<!--沉浸式动态处理-->
		<script type="text/javascript" src="../../../js/common/immersed.js"></script>

		<!--基础库-->
		<script type="text/javascript" src="../../../js/lib/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue-ni.js"></script>
		<!--请求相关-->
		<script type="text/javascript" src="../../../js/dal/base.js"></script>
		<script type="text/javascript" src="../../../js/dal/devaccessory.js"></script>
		<!--App相关业务逻辑-->
		<script type="text/javascript" src="../../../js/app/app.js"></script>
		<script type="text/javascript" src="../../../js/app/app-page.js"></script>

		<script type="text/javascript" src="../../../js/components/devices/footer.js"></script>

		<script type="text/javascript">
			//			mui.init({
			//				beforeback: function() {
			//					plus.navigator.setStatusBarStyle('light');
			//				}
			//			});

			var _stateImgs = [];
			var stateInter;
			new Vue({
				el: '#warpper',
				data: function() {
					return {
						state: true, // 当前状态
						stateCode: 1, // 状态码 0 关闭 1 打开 2暂停

						// 防区类型
						zonetypes: ["出入防区",
							"活动防区",
							"周边防区",
							"求助防区",
							"火警防区",
							"煤气防区",
							"系统防区",
							"挟持防区",
							"欠压防区",
							"掉线防区",
							"交流掉线",
							"24小时防区"
						],

						// 设备信息
						devInfo: {
							"accessory": {
								"id": "14255286",
								"devid": "VH-104GN-2017061500015",
								"name": "",
								"action": 41990,
								"type": 20,
								"delay": 0,
								"zonetype": 0,
								"chnID": 0,
								"externChn": true,
								"x": 0,
								"y": 0,
								"ptzset": 0,
								"xmlDescrition": "",
								"enableDelete": true,
								"enable": true
							},
							"devName": "",
							"devType": 4166,
							"statusCode": 0
						},
						state: {
							"lost": false,
							"underVoltage": false,
							"valid": true,
							"open": false,
							"close": false
						},
						newStop: true,
						actionValue: -1,
						actionText: ["", "窗帘打开中……", "窗帘关闭中……", "已暂停"],
						actionSucText: ["", "窗帘已打开", "窗帘已关闭"],
					};
				},

				computed: {
					stateImg: function() {
						return
					}
				},
				mounted: function() {
					this.$refs.switch1.addEventListener("toggle", function(event) {
						if(this.isErr) {
							this.isErr = false;
							return;
						}
						var that = this;
						// 发送更改请求
						plus.nativeUI.showWaiting();
						this.devInfo.accessory.enable = event.detail.isActive;
						that._updataActionByEnable(that.devInfo.accessory.enable);
						dal.devaccessory.enable(this.devInfo.accessory, this.devInfo.devType, function(err, data) {
							plus.nativeUI.closeWaiting();
							console.log(err + "," + data);
							if(err) {
								that.isErr = true;
								mui(that.$refs.switch1).switch().toggle();
								that.devInfo.accessory.enable = !that.devInfo.accessory.enable;
								that._updataActionByEnable(that.devInfo.accessory.enable);
								return mui.toast(err.message);
							}
							mui.toast("操作成功！");
							//							that._updataActionByEnable(that.devInfo.accessory.enable);
							that._updataUi();
						})
					}.bind(this));

				},
				plusReady: function() {
					plus.navigator.setStatusBarStyle('dark');
					this.devInfo = this.$view.info;
					console.log(JSON.stringify(this.devInfo));
					mui.back = function() {
						plus.webview.getWebviewById('add_completed') && plus.webview.getWebviewById('add_completed').close('none');
						plus.webview.getWebviewById('add/add_device.html') && plus.webview.getWebviewById('add/add_device.html').close('none');

						var view = plus.webview.currentWebview();
						plus.navigator.setStatusBarStyle('light');
						view.close();
					}.bind(this);
					this.getState(true);
					this.getBaseState();
					
				},
				methods: {
					// 获取基础数据
					getBaseState: function() {
						var that = this;
						var devid = this.devInfo.accessory.devid,
							devtype = this.devInfo.devType,
							id = this.devInfo.accessory.id || this.devInfo.accessory.aid;

						dal.devaccessory.getinfo(devid, devtype, id, function(err, data) {
							if(err) {
								return mui.toast(err.message);
							}
							mui.extend(that.devInfo.accessory, data);
						});
					},
					// 切换开关
					toggleSwitch: function() {
						this.state = !this.state;
					},
					// 删除配件
					onDelDevice: function() {
						app.page.setResult({
							action: "del"
						}).close();

						console.log("deldevice");
					},
					// 解绑配件
					onDevUnBind: function() {
						app.page.setResult({
							action: "unbind"
						}).close();
						// TODO 可能需要重新选择主机
						console.log("editdevice");
					},
					// 打开窗帘
					onOpenTap: function(i) {
						var that = this;
						if(!this._enableVerify()) {
							return;
						}
						if(i === 4) {
							if(this.actionValue === -1) {
								return;
							}
							i = this.actionValue;
						}
						plus.nativeUI.showWaiting();
						dal.devaccessory.curtain(this.devInfo.accessory.id, this.devInfo.accessory.type, this.devInfo.accessory.devid, this.devInfo.devType, i, function(err, data) {
							plus.nativeUI.closeWaiting();
							console.log("state==>" + JSON.stringify(data) + ',' + JSON.stringify(err));
							if(err) {
								return mui.toast(err.message);
							}
							that.changeState(i);
							mui.toast(that.actionText[i]);
						});
					},
					changeState: function(i) {
						if(i === 1) {
							//							this.state.open = true;
							this.newStop = false;
							this.actionValue = i;
							this.loopGetState(true, i);
						} else if(i === 2) {
							//							this.state.close = true;
							this.newStop = false;
							this.actionValue = i;
							this.loopGetState(true, i);
						} else if(i === 3) {
							this.newStop = true;
							this.loopGetState(false);
							//							this.actionValue = -1;
						}
					},
					loopGetState: function(start, i) {
						var that = this;
						if(start) {
							stateInter && clearInterval(stateInter);
							stateInter = setInterval(function() {
								if(i === 1 && that.state.open || i === 2 && 　that.state.close) {
									clearInterval(stateInter);
									that.newStop = true;
									mui.toast(that.actionSucText[i]);
									that.actionValue = -1;
								}
								that.getState();
							}, 1000);
						} else {
							stateInter && clearInterval(stateInter);
						}
					},
					//修改名称
					onNameTap: function() {
						var that = this;
						app.page.getInput(function(data1) {
							plus.nativeUI.showWaiting();
							dal.devaccessory.name(that.devInfo.accessory.id, that.devInfo.accessory.type, that.devInfo.accessory.devid, that.devInfo.devType, data1.content, that.devInfo.accessory.name, that.devInfo.accessory.action, that.devInfo.accessory.delay, that.devInfo.accessory.zonetype, that.devInfo.accessory.chnID, that.devInfo.accessory.externChn, that.devInfo.accessory.x, that.devInfo.accessory.y, that.devInfo.accessory.ptzset, function(err, data) {
								plus.nativeUI.closeWaiting();
								if(err) {
									return mui.toast(err.message);
								}
								mui.toast("修改成功！");
								that.devInfo.accessory.name = data1.content;
								that._updataUi();
							});
						}, {
							title: "配件名称",
							content: that.devInfo.accessory.name,
							r: "nonEmpty",
							rmsg: "配件名称不能为空",
							maxLength: 30,
							mLengthMsg: "最长不超过30个字符！",
						});
					},
					// 获取窗帘控制器状态
					getState: function(showWaiting) {
						var that = this;
						if(showWaiting) {
							plus.nativeUI.showWaiting();
						}
						dal.devaccessory.curtain_state(this.devInfo.accessory.id, this.devInfo.accessory.type, this.devInfo.accessory.devid, this.devInfo.devType, function(err, data) {
							if(showWaiting) {
								plus.nativeUI.closeWaiting();
							}
							console.log("state==>" + JSON.stringify(data) + ',' + JSON.stringify(err));
							if(err) {
								return mui.toast(err.message);
							}
							that.state = data;
							if(!data.valid) {
								that.newStop = true;
								that.state.open = false;
								that.state.close = false;
//								that.getState(true);
							}
						});
					},
					// 更新缓存数据
					_updataUi: function() {
						that = this;
						app.page.setResult({
							action: "update",
							info: that.devInfo
						});
					},
					// 根据Enable更新Action的值
					_updataActionByEnable: function(isOn) {
						var action = this.devInfo.accessory.action;
						console.log(action);
						if(isOn) {
							action = action | ((0x00000001 << 15));
						} else {
							action = action & (~(1 << 15));
						}
						this.devInfo.accessory.action = (action >>> 0);
						console.log("isOn==>" + isOn + "，action==>" + action + "，action===>" + (action >>> 0));
					},
					_enableVerify: function() {
						if(!this.devInfo.accessory.enable) {
							mui.toast("需启用后才能操作此配件！");
							return false;
						}
						return true;
					},
				}
			});
		</script>
	</body>

</html>