<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>智慧生活</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../js/common/flexible.js"></script>
		<link href="../../css/lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app/app.css" />
		<style type="text/css">
			.mui-bar-nav~.mui-content {
				padding-top: 0;
			}
			
			.mui-slider-indicator .mui-indicator {
				/*background: transparent;*/
				margin: 0 1.5px;
				border: .5px white solid;
			}
			
			.mui-slider-item {
				width: 100%;
				height: 0 !important;
				padding-top: 47%;
				background-size: cover;
				background-position: center;
			}
			/*26分割线*/
			
			#slider {
				margin-bottom: 0.346666rem;
			}
			/*end 26分割线*/
			
			
			/*九宫格*/
			ul{
				background-color: #FFFFFF !important;
			}
			ul>li{
				height: 3.333333rem;
				width: 3.333333rem;
				text-align: center;
				padding-top: 0.55rem !important;
				border-color: #E5E6E7 !important;
			}
			ul>li img{
				width: 0.693333rem;
			}
			
			/*end 九宫格*/
		</style>
	</head>

	<body>

		<div class="mui-content noImmersed">
			<!--<div class="mui-scroll">-->

			<div id="slider" class="mui-slider" v-if="imgList.length > 0">
				<div class="mui-slider-group mui-slider-loop">
					<!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
					<div @tap="onAdvertTap(imgLast)" class="mui-slider-item mui-slider-item-duplicate img-lazy-load" :data-src="imgLast.adimg">
						<!--<a href="#">
							<img :src="imgLast.src">
						</a>-->
					</div>

					<!-- 第四张 -->
					<div @tap="onAdvertTap(o)" class="mui-slider-item img-lazy-load" v-for="o, index in imgList" :data-src="o.adimg">
						<a href="#">
							<img :src="o.src">
						</a>
					</div>
					<!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
					<div @tap="onAdvertTap(imgFrist)" class="mui-slider-item mui-slider-item-duplicate img-lazy-load" :data-src="imgFrist.adimg">
						<!--<a href="#">
							<img :src="imgFrist.src">
						</a>-->
					</div>
				</div>
				<div class="mui-slider-indicator">
					<div v-for="o, index in imgList" class="mui-indicator" :class="index === 0 ? 'mui-active':''"></div>
				</div>
			</div>

			<ul class="mui-table-view mui-grid-view mui-grid-9">
				<template v-for="o,i in menuList">
					
			
				<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" @tap="onItemTap(o)">
					<a>
						<span class="mui-icon">
							<img :src="o.img"/>
						</span>
						<div class="mui-media-body">{{o.text}}</div>
					</a>
				</li>
					</template>
			</ul>

			<div class="menu-room app-font-size-28">

			</div>

		</div>
		<!--沉浸式动态处理-->
		<script type="text/javascript" src="../../js/common/immersed.js"></script>

		<!--基础配置-->
		<script type="text/javascript" src="../../js/config.js"></script>
		<!--基础库-->
		<script type="text/javascript" src="../../js/lib/mui.min.js"></script>
		<script type="text/javascript" src="../../js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../../js/lib/vue-ni.js"></script>
		<script type="text/javascript" src="../../js/lib/md5.min.js"></script>
		<script type="text/javascript" src="../../js/common/imagelazyload.js"></script>
		
		<script type="text/javascript" src="../../js/app/app.js" ></script>
		<script type="text/javascript" src="../../js/app/app-page.js" ></script>
		
		<script type="text/javascript">
			mui.init();
			
			
			
			new Vue({
				el: '.mui-content',
				data: function() {
					return {
						hasDev: false,
						imgList: [{
								adimg: "https://tuya-static.oss-cn-hangzhou.aliyuncs.com/portalbe/images/1513656623_0.jpg",
								link: "http://www.vihivision.com/product/301.html"
							}
						],
						menuList: [
							{
								text: "我的设备",
								img: '../../image/smart/btn_Myequipment@3x.png',
								href: 'devices/dev_my_list.html', 
							},
							{
								text: "添加设备",
								img: '../../image/smart/btn_Myequipment@3x.png',
								href: 'add/add_device.html',
							},
							{
								text: "智能场景",
								img: '../../image/smart/btn_Intelligentscene@3x.png',
								href: 'scenes/index2.html',
							},
							{
								text: "智能商城",
								img: '../../image/smart/btn_Intelligentcommercialcity@3x.png',
								href: '',
							},
							{
								text: "体验馆",
								img: '../../image/smart/btn_ExperienceHall@3x.png',
								href: '',
							},
							{
								text: "心管家服务",
								img: '../../image/smart/btn_butlerservice@3x.png',
								href: '',
							}
						],
						
						
					}
				},
				computed: {
					imgFrist: function() {
						return this.imgList[0];
					},
					imgLast: function() {
						return this.imgList[this.imgList.length - 1];
					}
				},
				plusReady: function() {
					imagelazyload();
//					var D = new ni.Cache('dev_list', [], {
//						plus: true
//					});
//					if(D.data.length > 0){
//						this.hasDev = true;
//					}
//					this.menuList.splice(+this.hasDev, 1);
				},
				methods: {
					onAdvertTap: function(o) {
						app.page.openBrowser({
							url: o.link
						});
					},
					
					onItemTap: function(o) {
						// 验证登录
						app.user.get(function(u){
							u && mui.openWindow(o.href, o.id || o.href);	
						});
					},
				}

			})
		</script>
	</body>

</html>