.home-warnmsg {
  background-color: #FFFFFF;
  margin-bottom: 0.213333rem;
  height: 1.2rem;
  overflow: hidden;
}
.home-warnmsg .flip-list-move {
  transition: transform 1s;
}
.home-warnmsg-item {
  height: 1.2rem;
  padding: 0 0.346666rem;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: space-between;
  color: #acacac;
}
.home-warnmsg-item .mui-ellipsis {
  flex: 1;
  color: #4c4c4c;
}
.home-warnmsg img {
  margin-right: 0.293333rem;
  width: 1.36rem;
  height: 0.32rem;
}
