<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>告警参数</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../../js/common/flexible.js"></script>
		<link href="../../../css/lib/mui.min.css" rel="stylesheet" />
		<!--<link rel="stylesheet" href="../../../css/lib/mui.picker.css" />
		<link rel="stylesheet" href="../../../css/lib/mui.poppicker.css" />
		<link rel="stylesheet" href="../../../css/app/app.poppicker.css" />-->

		<link rel="stylesheet" href="../../../css/app/app.css" />

		<style type="text/css">
			html,
			body,
			.mui-content {
				background-color: white;
			}

			.mui-content {
				margin-bottom: 1.173333rem;
			}
			
			.title {
				height: 1rem;
				line-height: 1rem;
				background-color: #F4F8FB;
				color: #9F9FA0;
				padding-left: 0.346666rem;
			}
			
			.mui-grid-view {
				background-color: white !important;
			}
			
			.mui-table-view-cell>a {
				position: relative;
			}
			
			.mui-table-view-cell>a>img {
				width: 100%;
				max-height: 2.5rem;
			}
			
			.mui-table-view-cell>a>div {
				position: absolute;
				bottom: 0.346666rem;
				color: #9F9FA0 !important;
			}
			
			.foot {
				position: fixed;
				width: 100%;
				height: 1.173333rem;
				line-height: 1.173333rem;
				color: white;
				text-align: center;
				bottom: 0;
				background-color: #06c1ae;
			}
			
		</style>
	</head>

	<body>
		<div id="warpper">

			<header class="mui-bar mui-bar-nav app-header" data-top='0' data-offset='150' data-duration='16'>
				<a class="mui-action-back app-icon-back mui-pull-left"></a>
				<h1 class="mui-title">添加设备</h1>
			</header>

			<div class="mui-content">
				<div class="title app-font-size-30" v-text="hostDevs.title"></div>
				
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" v-for="o,i in hostDevs.devs">
						<a>
							<img :src="o.img"/>
							<div class="mui-media-body">{{o.name}}</div>
						</a>
					</li>
				</ul>
				<div class="title app-font-size-30" v-text="ctrl_fit.title"></div>
				
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" v-for="o,i in ctrl_fit.devs">
						<a>
							<img :src="o.img"/>
							<div class="mui-media-body">{{o.name}}</div>
						</a>
					</li>
				</ul>
				<div class="title app-font-size-30" v-text="safe_fit.title"></div>
				
				<ul class="mui-table-view mui-grid-view mui-grid-9">
					<li class="mui-table-view-cell mui-media mui-col-xs-4 mui-col-sm-4" v-for="o,i in safe_fit.devs">
						<a>
							<img :src="o.img"/>
							<div class="mui-media-body">{{o.name}}</div>
						</a>
					</li>
				</ul>
			</div>
			<div class="foot app-font-size-34">连接家人的摄像机</div>
		</div>
		<!--沉浸式动态处理-->
		<script type="text/javascript" src="../../../js/common/immersed.js"></script>

		<!--基础库-->
		<script type="text/javascript" src="../../../js/lib/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue-ni.js"></script>
		<!--请求相关-->
		<!--<script type="text/javascript" src="../../../js/dal/base.js"></script>-->
		<!--App相关业务逻辑-->
		<script type="text/javascript" src="../../../js/app/app.js"></script>

		<!--<script type="text/javascript" src="../../../js/lib/md5.min.js"></script>-->
		<!--<script type="text/javascript" src="../../../js/common/imagelazyload.js"></script>-->

		<!--<script type="text/javascript" src="../../../js/lib/mui.picker.js"></script>
		<script type="text/javascript" src="../../../js/lib/mui.poppicker.js"></script>
		<script type="text/javascript" src="arr.js"></script>-->
		<script type="text/javascript">
			mui.init();

			new Vue({
				el: '#warpper',
				data: function() {
					return {
						hostDevs: {
							title: "智能主机",
							devs: [{
								img: "../../../image/smart/devices/dev_icon/AX-360@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-203@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-203A-D@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-403A@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-503-HD@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-603@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/电力安全主机@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/WG-100@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/AX-904@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/VH104D-N-MG@3x.png",
								name: "AX-203",
							},]
						},
						ctrl_fit: {
							title: "智能控制配件",
							devs: [{
								img: "../../../image/smart/devices/dev_icon/智能门锁@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/智能插座@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/智能灯控@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/窗帘控制器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/窗帘升降器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/门禁主机@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/红外遥控模块@3x.png",
								name: "AX-203",
							}, ],
						},
						safe_fit: {
							title: "智能安全配件",
							devs: [{
								img: "../../../image/smart/devices/dev_icon/遥控器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/紧急按钮@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/声光报警器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/门磁探测器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/烟雾探测器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/燃气探测器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/红外幕帘@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/一氧化碳探测器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/隐形防盗探测器@3x.png",
								name: "AX-203",
							}, {
								img: "../../../image/smart/devices/dev_icon/迎宾器@3x.png",
								name: "AX-203",
							}, ],
						},
					};
				},
				mounted: function() {

				},
				plusReady: function() {},
				methods: {
					// 切换开关
					toggleSwitch: function() {
						this.state = !this.state;
					}
				}
			});
		</script>
	</body>

</html>