<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>设备列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<script type="text/javascript" src="../../../js/common/flexible.js"></script>
		<link href="../../../css/lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../../css/app/app.css" />
		<link rel="stylesheet" href="../../../css/app/devices.css" />
		<style type="text/css">
			html,
			body,
			.mui-content {
				background-color: #F4F8FB !important;
			}
			
			header>h1>span {
				margin: 0 0.693333rem;
			}
			
			header>h1>span {
				color: #d6f2ef;
			}
			
			header>h1>span.active {
				font-weight: bold;
				color: #FFFFFF;
			}
			
			.mui-table-view-cell>a:not(.mui-btn).mui-active {
				background-color: initial;
			}
			
			ul.a1 {
				margin: 0.346666rem !important;
				border-radius: 3px;
				box-shadow: 0 2px 3px #ededed;
			}
			
			ul.a1 span.left>img {
				width: 0.48rem;
				vertical-align: middle;
			}
			
			ul.a1 span.left>span {
				margin-left: 0.15rem;
				vertical-align: middle;
			}
			
			.card .imgdiv {}
		</style>
	</head>

	<body>
		<div id="box">

			<header class="mui-bar mui-bar-nav app-header">
				<a class="mui-action-back app-icon-back mui-pull-left"></a>
				<h1 class="mui-title app-font-size-34">
					<span @tap="onActive(0)" :class="{active: active === 0}">智能主机</span>
					<span @tap="onActive(1)" :class="{active: active === 1}">智能配件</span>
				</h1>
				<a class="app-icon-plus mui-pull-right" @tap="onAddTap()"></a>

			</header>
			<div class="mui-content">

				<div class="app-font-size-28 a0" v-show="active === 0">
					<div class="card" v-for="o,i in devList">
						<!--<div class="imgdiv" :style="{backgroundImage: 'url('+'http://placehold.it/760x350'+')'}"></div>-->
					</div>

				</div>

				<div v-show="active === 1">

					<ul class="mui-table-view app-font-size-28 a1" v-for="o,i in zones" @tap="onZoneTap(o)">
						<li class="mui-table-view-cell">
							<a>
								<span class="left app-font-size-28 app-color-333333">
								<img src="../../../image/smart/scenes/icon_Timing start@3x.png"/>
								<span>{{o.zoneName}}</span>
								</span>
								<span class="mui-badge"><div class="mui-switch mui-switch-mini app-switch-main mui-active" >
								<div class="mui-switch-handle"></div>
							</div></span>
							</a>
						</li>
						<li class="mui-table-view-cell">
							<a>
								<span class="app-font-size-28 app-color-9f9fa0">
								{{o.bdevName}}
							</span>
								<span class="mui-badge app-color-main">运行正常</span>
							</a>
						</li>

					</ul>

				</div>

			</div>
		</div>

		<!--沉浸式动态处理-->
		<script type="text/javascript" src="../../../js/common/immersed.js"></script>

		<!--基础库-->
		<script type="text/javascript" src="../../../js/lib/mui.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../../../js/lib/vue-ni.js"></script>
		<!--App相关业务逻辑-->
		<script type="text/javascript" src="../../../js/app/app.js"></script>

		<script type="text/javascript" src="../../../js/plug/PlugDevManager.js"></script>

		<script type="text/javascript">
			mui.init();
			var devManager, runManager;

			new Vue({
				el: '#box',
				data: function() {
					return {
						active: 1,

						devList: [{
								"alarmPlan": [{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									},
									{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									}
								],
								"basicInfo": {
									"appversion": "2017-09-28 09:36:04",
									"devName": "104GN",
									"devType": 4166,
									"devid": "VH-104GN-2017061500043",
									"hwversion": "2015-11-01 10:13:43"
								},
								"netInfo": {
									"ip": "192.168.1.23",
									"ssid": "aaa2.4",
									"type": 0
								},
								"onvif": [{
										"ch": 0,
										"name": "第一个外部通道",
										"online": 1
									},
									{
										"ch": 1,
										"name": "第二个外部通道",
										"online": 1
									}
								],
								"recordPlan": [{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									},
									{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									}
								],
								"zones": [{
										"ID": "81457896",
										"bindV": 128,
										"delay": 0,
										"ptzSet": 0,
										"zoneAction": "32775",
										"zoneName": "红外幕帘1"
									},
									{
										"ID": "81457897",
										"bindV": 128,
										"delay": 0,
										"ptzSet": 0,
										"zoneAction": "32775",
										"zoneName": "红外幕帘1"
									}
								]
							},
							{
								"alarmPlan": [{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									},
									{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									}
								],
								"basicInfo": {
									"appversion": "2017-09-28 09:36:04",
									"devName": "104GN2",
									"devType": 4166,
									"devid": "VH-104GN-2017061500043",
									"hwversion": "2015-11-01 10:13:43"
								},
								"netInfo": {
									"ip": "192.168.1.23",
									"ssid": "aaa2.4",
									"type": 0
								},
								"onvif": [{
										"ch": 0,
										"name": "第一个外部通道",
										"online": 1
									},
									{
										"ch": 1,
										"name": "第二个外部通道",
										"online": 1
									}
								],
								"recordPlan": [{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									},
									{
										"end": "19:50:00",
										"recycle": 129,
										"start": "13:50:00"
									}
								],
								"zones": [{
										"ID": "81457896",
										"bindV": 128,
										"delay": 0,
										"ptzSet": 0,
										"zoneAction": "32775",
										"zoneName": "红外幕帘1"
									},
									{
										"ID": "81457897",
										"bindV": 128,
										"delay": 0,
										"ptzSet": 0,
										"zoneAction": "32775",
										"zoneName": "红外幕帘1"
									}
								]
							}
						]

					};
				},

				computed: {
					zones: function() {
						var z = [];
						this.devList.forEach(function(item) {
							z.push.apply(z, (function(o) {
								return o.zones.map(function(_item) {
									_item.bdevid = o.basicInfo.devid;
									_item.bdevName = o.basicInfo.devName;
									return _item;
								});
							}(item)));
						});

						return z;
					}
				},

				plusReady: function() {
					// 本地 所有设备的信息
					var ALLD = new ni.Cache('AllDeviceInfo', [], {
						plus: true
					});

					// 本地 所有设备的运行状态
					//var ALLR = new ni.Cache('AllDeviceRun', [], {
					//	plus: true
					//});

					devManager = new DevManager(ALLD);
					//runManager = new DevManager(ALLR);
					
					this.devList = devManager.get();
					
					
				},
				methods: {
					// 标签切换
					onActive: function(index) {
						this.active = index;
					},
					// 添加配件点击
					onAddTap: function() {
						mui.openWindow('../add/add_device.html');
					},
					
					// 智能配件点击
					onZoneTap: function(o){
						console.log(JSON.stringify(o));
					}

				}
			});
		</script>
	</body>

</html>