@color Keys: (
    "main",
    "gray",
);
@color Vals: (
    @color-main,
    @color-gray,
);
.app-btn,
.app-btn-main,
.app-btn-main-ghost {
  border: 0.013333rem solid #cccccc;
  background-color: #ffffff;
  color: #cccccc;
}
.app-btn-main {
  background-color: #2bb8aa;
  border-color: #2bb8aa;
  color: #ffffff;
}
.app-btn-main-ghost {
  color: #2bb8aa;
}
