<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/lib/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="../../css/app/app.css" />
		<style type="text/css">

		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav app-header">
			<h1 class="mui-title">个人中心</h1>
		</header>
		<div class="mui-content" style="padding-left: 25px;">
			<br />
			<button type="button" id='openlogin' class="mui-btn app-btn-main">打开登录</button>
			<br />
			<button type="button" @tap='logout' class="mui-btn app-btn-main">注销登录</button>
			<br />
			<br />
			<button type="button" id="testopen" class="mui-btn app-btn-main">测试打开position</button>
			<br />
			<button type="button" @tap='openBrowser()' class="mui-btn app-btn-main-ghost">测试打开浏览器</button>
				<br />
			<template v-for="o,i in testList">
				<br />
				<input type="" name="" id="" value="" v-model="inputList[i]" placeholder="参数列表，逗号隔开" />
				<br />
				<button type="button" @tap='onTestTap(o, i)' class="mui-btn app-btn-main-ghost">{{o}}</button>
				<br />
				
			</template>

		</div>
		<!--沉浸式动态处理-->
		<script type="text/javascript" src="../../js/common/immersed.js"></script>
		<script src="../../js/lib/mui.min.js"></script>
		<script type="text/javascript" src="../../js/lib/vue.min.js"></script>
		<script type="text/javascript" src="../../js/lib/vue-ni.js"></script>
		<script type="text/javascript" src="../../js/app/app.js" ></script>
		<script type="text/javascript" src="../../js/app/app-page.js"></script>
		<script type="text/javascript" src="../../js/plug/PlugH5NativeBridge.js"></script>

		<script type="text/javascript">
			mui.init();

			new Vue({
				el: '.mui-content',
				data: function() {
					return {
						testList: [],
						inputList: [],
					};
				},
				mounted: function() {
					document.querySelector("#openlogin").addEventListener('tap', function() {
						mui.openWindow('_www/html/common/login.html', 'login', {
							extras: {
								qid: 123
							}
						});
					});
					document.getElementById("testopen").addEventListener('tap', function() {
						app.page.openForResult('position', function(data) {
							data && alert(data.city);
						});
					});
				},
				plusReady: function() {
//					for(var i in plug.H5NativeBridge) {
//						if(typeof plug.H5NativeBridge[i] === 'function') {
//							this.testList.push(i);
//							this.inputList.push('');
//						}
//					}

					//this.inputList[0] = "zt20171116,123456,www.isee110.com";

					try {
						plug.H5NativeBridge.InitNativeSysteam("zt20171116", "123456", "www.isee110.com", function(data) {
							alert("ok:" + JSON.stringify(data));
						}, function(data) {
							alert("fail:" + JSON.stringify(data));
						});
				
						
						
						

					} catch(err) {
						alert("err:" + JSON.stringify(err));
					}
				},
				methods: {
					onTestTap: function(name, index) {
						var arg = this.inputList[index].split(',');
						var rs = plug.H5NativeBridge[name].apply(plug.H5NativeBridge[name], arg);
						rs && mui.alert(JSON.stringify(rs));

					},
					logout: function(){
						app.user.logout();
						app.user.get(function(u){
							console.log(JSON.stringify(u));
						});
					},
					openBrowser: function(){
						app.page.openBrowser({
							url: 'https://segmentfault.com/u/newsning/articles'
						});
					}
				}
			});
		</script>
	</body>

</html>