html,
body {
  font-size: 10px;
}
.app-btn,
.app-btn-main,
.app-btn-main-ghost {
  border: 1px solid #cccccc;
  border-radius: 4px;
  background-color: #ffffff;
  color: #cccccc;
}
.app-btn-main {
  background-color: #2bb8aa;
  border-color: #2bb8aa;
  color: #ffffff;
}
.app-btn-main:active {
  background-color: #43d3c5 !important;
  border-color: #43d3c5 !important;
}
.app-btn-main-ghost {
  border-color: #2bb8aa !important;
  color: #2bb8aa;
}
.app-btn-main-ghost:active {
  background-color: #ffffff !important;
  color: #2bb8aa !important;
}
.mui-bar-nav,
.app-header.mui-bar-nav {
  -webkit-box-shadow: 0px 0px 0px #fff !important;
  box-shadow: 0px 0px 0px #fff !important;
}
.app-icon,
.app-header .app-icon-back,
.app-header .app-icon-plus {
  margin: 12px 0;
  width: 20px;
  height: 20px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjM4NDQ4NDk5QzM1NzExRTdCMTQwOTY5NDIwN0RGOTREIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjM4NDQ4NDlBQzM1NzExRTdCMTQwOTY5NDIwN0RGOTREIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Mzg0NDg0OTdDMzU3MTFFN0IxNDA5Njk0MjA3REY5NEQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Mzg0NDg0OThDMzU3MTFFN0IxNDA5Njk0MjA3REY5NEQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4oRe8oAAADC0lEQVR42uyaTUhVQRTHR18KtTDIj03RRjdBEeRCTMoMKyh6RAsXKS4CEcGFiEsRlyJBOxU3ofDaVFIZaWKZYYKfmwQ3ufErsty4aSH1+h88i4fMzOLduffOm3sP/BaPA/fO/83MuXPOnLx0Oi2iZPkiYhYLttSugRVQEQXB9eADuAI+gwsuC06C9+Ak/z4LvoDL2T4wz+Io3QhGQELiWwWVLs1wKxhViF0Dd11a0p1gSDG2RVAHfmb9dFrSFtGTVtssOO31HbYIpVjSrxE7BU6ZeJctYgc1Yt+AQlPvOxHyfk1wcHqk8D8HzeCvCyetQvBCI3bItNgwgxbtxwnNMn7CS934u8MQS5F2RiO218/3By32DFjQiO3yewxBBq1S8AlclPj+gXYw6PcgghJ8jjOdcoVYCk6pIAYShGDKYT+C8xLfIWgAr10pAFzimZWJ/QPuBynW7xmm9G0SlEh8B5zrzgb98fdL8FUwAYokvn1wDyyEcdrxQ/BN8C6jSpFpe1yy+eZKES/Jy1gmdgfUhCnWtGAqybwEBRLfBqgG310p07Zw1lOgKMlcB1uu1KU7wLDiWcu8p3dtqR95FdwNnip8XzlA/bKqYubhIN6nSQKmTZVkTBO5uyWv/1i3ZpbnTFQZbcyHOzSil0CpTYJNXbW0aIrn9Fm6DX7YsKJN3i3RweOZ5uBRZ8O32PRlWlJz2qKj5Y2wT1t+3B5GKnkQXLeq55z3uJWBGVDlkmCyeZ7p3xJfMZgCtS4JJlth0TsSXxEXCO64JFjwXqVAtSnx0R4fBw9cEiw4Ktfwp+m4UTR/xZ80ZwSTbXMBYE0xBsql21wSLDhNpEC1qBjHAOiyPXmIL9Pi61I11MYwphFNbRAJlwQLFpTSiE6ZFh12xYPaGZo4tZQZtUOMiaP2iJwNWpFvW4pkY1omnRrR1C5RYkOJx7S18kFEVTKi9DOrfsu4fdgio56Ph+KoLSLTKMd+bFOJx7TR8n3L6STl1rfAei4kD9naNBcKVjm3XvfysFyY4ZxND2PBYdh/AQYA8jAw6ktbh2IAAAAASUVORK5CYII=);
  background-size: cover;
  background-position: center;
}
.app-header {
  background-color: #2bb8aa;
}
.app-header h1 {
  color: white;
}
.app-header .app-icon-back {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADwAAAA8CAYAAAA6/NlyAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMDY3IDc5LjE1Nzc0NywgMjAxNS8wMy8zMC0yMzo0MDo0MiAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTUgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOjM4NDQ4NDk5QzM1NzExRTdCMTQwOTY5NDIwN0RGOTREIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOjM4NDQ4NDlBQzM1NzExRTdCMTQwOTY5NDIwN0RGOTREIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6Mzg0NDg0OTdDMzU3MTFFN0IxNDA5Njk0MjA3REY5NEQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6Mzg0NDg0OThDMzU3MTFFN0IxNDA5Njk0MjA3REY5NEQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4oRe8oAAADC0lEQVR42uyaTUhVQRTHR18KtTDIj03RRjdBEeRCTMoMKyh6RAsXKS4CEcGFiEsRlyJBOxU3ofDaVFIZaWKZYYKfmwQ3ufErsty4aSH1+h88i4fMzOLduffOm3sP/BaPA/fO/83MuXPOnLx0Oi2iZPkiYhYLttSugRVQEQXB9eADuAI+gwsuC06C9+Ak/z4LvoDL2T4wz+Io3QhGQELiWwWVLs1wKxhViF0Dd11a0p1gSDG2RVAHfmb9dFrSFtGTVtssOO31HbYIpVjSrxE7BU6ZeJctYgc1Yt+AQlPvOxHyfk1wcHqk8D8HzeCvCyetQvBCI3bItNgwgxbtxwnNMn7CS934u8MQS5F2RiO218/3By32DFjQiO3yewxBBq1S8AlclPj+gXYw6PcgghJ8jjOdcoVYCk6pIAYShGDKYT+C8xLfIWgAr10pAFzimZWJ/QPuBynW7xmm9G0SlEh8B5zrzgb98fdL8FUwAYokvn1wDyyEcdrxQ/BN8C6jSpFpe1yy+eZKES/Jy1gmdgfUhCnWtGAqybwEBRLfBqgG310p07Zw1lOgKMlcB1uu1KU7wLDiWcu8p3dtqR95FdwNnip8XzlA/bKqYubhIN6nSQKmTZVkTBO5uyWv/1i3ZpbnTFQZbcyHOzSil0CpTYJNXbW0aIrn9Fm6DX7YsKJN3i3RweOZ5uBRZ8O32PRlWlJz2qKj5Y2wT1t+3B5GKnkQXLeq55z3uJWBGVDlkmCyeZ7p3xJfMZgCtS4JJlth0TsSXxEXCO64JFjwXqVAtSnx0R4fBw9cEiw4Ktfwp+m4UTR/xZ80ZwSTbXMBYE0xBsql21wSLDhNpEC1qBjHAOiyPXmIL9Pi61I11MYwphFNbRAJlwQLFpTSiE6ZFh12xYPaGZo4tZQZtUOMiaP2iJwNWpFvW4pkY1omnRrR1C5RYkOJx7S18kFEVTKi9DOrfsu4fdgio56Ph+KoLSLTKMd+bFOJx7TR8n3L6STl1rfAei4kD9naNBcKVjm3XvfysFyY4ZxND2PBYdh/AQYA8jAw6ktbh2IAAAAASUVORK5CYII=);
}
.app-header .app-icon-plus {
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACoAAAAqCAYAAADFw8lbAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAyZpVFh0WE1MOmNvbS5hZG9iZS54bXAAAAAAADw/eHBhY2tldCBiZWdpbj0i77u/IiBpZD0iVzVNME1wQ2VoaUh6cmVTek5UY3prYzlkIj8+IDx4OnhtcG1ldGEgeG1sbnM6eD0iYWRvYmU6bnM6bWV0YS8iIHg6eG1wdGs9IkFkb2JlIFhNUCBDb3JlIDUuNi1jMTM4IDc5LjE1OTgyNCwgMjAxNi8wOS8xNC0wMTowOTowMSAgICAgICAgIj4gPHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj4gPHJkZjpEZXNjcmlwdGlvbiByZGY6YWJvdXQ9IiIgeG1sbnM6eG1wPSJodHRwOi8vbnMuYWRvYmUuY29tL3hhcC8xLjAvIiB4bWxuczp4bXBNTT0iaHR0cDovL25zLmFkb2JlLmNvbS94YXAvMS4wL21tLyIgeG1sbnM6c3RSZWY9Imh0dHA6Ly9ucy5hZG9iZS5jb20veGFwLzEuMC9zVHlwZS9SZXNvdXJjZVJlZiMiIHhtcDpDcmVhdG9yVG9vbD0iQWRvYmUgUGhvdG9zaG9wIENDIDIwMTcgKFdpbmRvd3MpIiB4bXBNTTpJbnN0YW5jZUlEPSJ4bXAuaWlkOkQwQjc0QjYzQkY1MDExRTc5NUQ4RDhFRUVEODM4QTZEIiB4bXBNTTpEb2N1bWVudElEPSJ4bXAuZGlkOkQwQjc0QjY0QkY1MDExRTc5NUQ4RDhFRUVEODM4QTZEIj4gPHhtcE1NOkRlcml2ZWRGcm9tIHN0UmVmOmluc3RhbmNlSUQ9InhtcC5paWQ6RDBCNzRCNjFCRjUwMTFFNzk1RDhEOEVFRUQ4MzhBNkQiIHN0UmVmOmRvY3VtZW50SUQ9InhtcC5kaWQ6RDBCNzRCNjJCRjUwMTFFNzk1RDhEOEVFRUQ4MzhBNkQiLz4gPC9yZGY6RGVzY3JpcHRpb24+IDwvcmRmOlJERj4gPC94OnhtcG1ldGE+IDw/eHBhY2tldCBlbmQ9InIiPz4/VZvvAAAAe0lEQVR42uzXMQrAIAyFYS3eWbxBPZZbbxVDoYt06PCkiP+DDC7hQxGSaGZBlLHR6VVUzY+wSIACBQoUKFCgQIEC/TPRhCP+pNybAk+/LTR5VVGvPJwvrybo257PxLrMZwIKFChQoECBAgX6YcJXpb5N5sp1eYkb7QIMAAgoFt2Fj/rfAAAAAElFTkSuQmCC);
}
.app-font-size-20 {
  font-size: 10px;
}
[data-dpr="2"] .app-font-size-20 {
  font-size: 20px;
}
[data-dpr="3"] .app-font-size-20 {
  font-size: 30px;
}
.app-font-size-22 {
  font-size: 11px;
}
[data-dpr="2"] .app-font-size-22 {
  font-size: 22px;
}
[data-dpr="3"] .app-font-size-22 {
  font-size: 33px;
}
.app-font-size-24 {
  font-size: 12px;
}
[data-dpr="2"] .app-font-size-24 {
  font-size: 24px;
}
[data-dpr="3"] .app-font-size-24 {
  font-size: 36px;
}
.app-font-size-26 {
  font-size: 13px;
}
[data-dpr="2"] .app-font-size-26 {
  font-size: 26px;
}
[data-dpr="3"] .app-font-size-26 {
  font-size: 39px;
}
.app-font-size-28 {
  font-size: 14px;
}
[data-dpr="2"] .app-font-size-28 {
  font-size: 28px;
}
[data-dpr="3"] .app-font-size-28 {
  font-size: 42px;
}
.app-font-size-30 {
  font-size: 15px;
}
[data-dpr="2"] .app-font-size-30 {
  font-size: 30px;
}
[data-dpr="3"] .app-font-size-30 {
  font-size: 45px;
}
.app-font-size-32 {
  font-size: 16px;
}
[data-dpr="2"] .app-font-size-32 {
  font-size: 32px;
}
[data-dpr="3"] .app-font-size-32 {
  font-size: 48px;
}
.app-font-size-34 {
  font-size: 17px;
}
[data-dpr="2"] .app-font-size-34 {
  font-size: 34px;
}
[data-dpr="3"] .app-font-size-34 {
  font-size: 51px;
}
.app-font-size-36 {
  font-size: 18px;
}
[data-dpr="2"] .app-font-size-36 {
  font-size: 36px;
}
[data-dpr="3"] .app-font-size-36 {
  font-size: 54px;
}
.app-font-size-38 {
  font-size: 19px;
}
[data-dpr="2"] .app-font-size-38 {
  font-size: 38px;
}
[data-dpr="3"] .app-font-size-38 {
  font-size: 57px;
}
.app-font-size-40 {
  font-size: 20px;
}
[data-dpr="2"] .app-font-size-40 {
  font-size: 40px;
}
[data-dpr="3"] .app-font-size-40 {
  font-size: 60px;
}
.mui-bar-tab .mui-tab-item.app-color-active {
  color: #2bb8aa;
}
.mui-bar-tab .mui-tab-item.mui-active {
  color: #2bb8aa;
}
.mui-bar-transparent {
  /*设置header渐变颜色 必须 rgba*/
  background-color: rgba(43, 184, 170, 0);
}
a.mui-icon {
  color: #9f9fa0;
}
.app-color-main {
  color: #2bb8aa !important;
}
.app-color-dark {
  color: #9f9fa0 !important;
}
.app-color-white {
  color: #ffffff !important;
}
.app-switch-main.mui-active {
  border: 2px solid #2bb8aa !important;
  background-color: #2bb8aa !important;
}
