.app-header.mui-bar-transparent {
  background-color: rgba(43, 184, 170, 0);
}
.mui-bar-nav ~ .mui-content.noImmersed {
  padding-top: 0;
}
ul {
  margin: 0 !important;
  margin-bottom: 0.266666rem !important;
}
ul:before {
  height: 0 !important;
}
ul:after {
  height: 0 !important;
}
ul li {
  height: 1.333333rem;
  color: #333333 !important;
  padding: 0.4rem 15px !important;
}
ul li > a {
  margin: -0.4rem -15px !important;
}
ul .mui-badge {
  font-size: inherit;
  color: #9F9FA0;
  background-color: transparent !important;
  padding: 0 !important;
}
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #e7eaed;
  height: 1.173333rem;
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  align-items: center;
}
footer div {
  height: 1.173333rem;
  line-height: 1.173333rem;
  flex: 1;
  text-align: center;
  color: #333333;
}
footer div:first-child {
  position: relative;
}
footer div:first-child:after {
  position: absolute;
  height: 70%;
  width: 1px;
  background-color: #9F9FA0;
  content: "";
  right: -0.5px;
  top: 15%;
  transform: scaleX(0.5);
  -webkit-transform: scaleX(0.5);
}
